@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tear";
  src: url("/font/Rix눈물방울방울M.ttf") format("truetype");
}

@font-face {
  font-family: "Dymo";
  src: url("/font/다이모체.ttf") format("truetype");
}

@font-face {
  font-family: "ChocoCookie";
  src: url("/font/Cre초코쿠키마시멜로.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("/image/heart-background.gif");
}

@layer utilities {
  .heart-background {
    background-image: url("/image/heart-background.gif");
  }

  .gamsung-filter {
    filter: brightness(110%) sepia(50%) contrast(110%);
  }
}
